@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Great Vibes', cursive;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/* index.css */

/* CSS for animated gradient background */
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-gradient-bg {
    background-size: 200% 200%;
    animation: gradient-animation 10s ease infinite;
  }

  .glow {
    text-shadow: 0 0 10px rgba(244, 114, 182, 0.8);
  }
